@tailwind base;
@tailwind components;
@tailwind utilities;

.text-dark{
    @apply text-gray-900 dark:text-gray-100
}

body {
    @apply bg-slate-100 dark:bg-slate-950;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    scroll-snap-type: block;
}

.parallax-container {
    @apply h-screen overflow-x-hidden overflow-y-auto;
    perspective: 1px;
}

.parallax-background {
    @apply h-screen relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

/* Parallax content */
.parallax-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
}